# ===============================================
# DEHQON MARKET ENVIRONMENT CONFIGURATION (.env)
# ===============================================

# 1. Server Configuration
PORT=5000
NODE_ENV=production

# 2. JWT Security Token Secret
JWT_SECRET=dehqon_market_super_secret_jwt_key_2026

# 3. Secret Admin Credentials
ADMIN_PHONE=77777777777777777777
ADMIN_PASSWORD=77777777777777777777
